{% load staticfiles %}
<!doctype html>
<html lang="en" class="no-js">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>AboutUs - Quark 2017</title>
		<meta name="description" content="About Quark 2017" />
		<meta name="keywords" content="quark, about" />
		<meta name="author" content="Quark 2017" />
		<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<link rel="shortcut icon" href="{%static 'img/5.png' %}">

<link href='http://fonts.googleapis.com/css?family=Raleway:200,400,800' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,700,900' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{%static 'css/animate.css' %}">


	
</head>
<style>
p,h4{
font-size:1.2em;
}

</style>
<body>
	<script src="{%static 'js/wow.min.js' %)"></script>
              <script>
              new WOW().init();
              </script>

			<h1>ABOUT<span class = "colorh1"> US</span></h1>
		
		<div class = 'row'>
			<h3 style="text-align:center">Quark is one of India's largest science, technology and management festivals, held every February at BITS Pilani - K.K. Birla Goa Campus.</h3> 
<br><br>
<!-- <img src = "bits.jpg" style="width:100%;border:groove"> -->
<h4 class="titlehead">About Quark</h4>
<p>
	Quark is the annual techno-managerial and innovation festival of the BITS Pilani K. K. Birla Goa Campus which has grown manifold since its humble inception in 2006. Quark achieved a cult status on the national level with its 2008 iteration and made a quantum leap in 2010, when it went international for the first time.<br><br><br>

With a plethora of competitions and exhibitons to challenge one&#39s expertise as well as palpate ones inquisitiveness, Quark sets the stage for face-offs between the best minds in the disciplines of engineering, science and management. It organizes workshops in various technical and corporate areas, giving participants an opportunity to tread new fields 
by gaining hands-on practical knowledge from eminent professionals. Quark offers a platform to budding innovators to exchange ideas and showcase cutting edge research through special events such as the Paper Presentation and Open Showcase.<br><br><br>

The fest has been graced by the presence of distinguished personalities from various fields. Over the years, Quark has been privileged by the presence of some of the most distinguished scientists, entrepreneurs and world leaders. Notable personalities include the Former President of India, Dr. APJ Abdul Kalam, Nobel Laureates like Sir Harold Kroto and Prof Douglas Osheroff, eminent scientists such as Dr. Chris Phillips and Dr. Vic Hayes, and many more. In 2013, Quark was awarded UNESCO Patronage, the highest form of support granted to an organisation.<br><br><br>

</p>
</div>

<hr class = "hrthin">
				<br><br>
			<div style = "float:right; width:40%; text-align:right">
			<i class = "fa fa-copyright"></i>&nbsp;Quark 2017
			</div>
			<div style = "float:left; width:40%">
				<a target="_blank" href="https://www.facebook.com/bitsquark" style="color:rgba(255,255,255,0.6); padding-left:2em;">
				<i class= "fa fa-2x fa-facebook-f"></i>
				</a>
				<a target="_blank" href = "https://www.twitter.com/bitsquark" style="color:rgba(255,255,255,0.6);padding-left:2em;">
				<i class= "fa fa-2x fa-twitter"></i>
				</a>
				<a target="_blank" href = "https://www.youtube.com/channel/UC7Ptc_UtcU1XRAFS-tjq7JA" style="color:rgba(255,255,255,0.6);padding-left:2em;">
				<i class = "fa fa-2x fa-youtube-play"></i>
				</a>
			</div>

<style type="text/css">
	body {
	background-image: url("{%static 'img/background.jpg' %}");
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family: 'Roboto', sans-serif;
	color: #fff;
	font-size: 200;
	padding:4% 10%;
}
h1,.titlehead{
	font-family: 'Raleway', sans-serif;
	font-size: 700;
	text-align: center;

}


.colorh1{
	color: #555;
}

.hrthin{
	width: 40%;
	 display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
}
i:hover{
	color: rgba(255,255,255,1);
	transition: color 0.5s;
}
.img{
	border-radius: 50%;
	border:3px solid #ddd;
	width:130px;
	height:130px;
}
</style>

</body>
</html>