{% extends 'base.html' %}

{% block title %}
Events - Quark 2017
{% endblock %}

{% block heading %}
Events
{% endblock %}

{% block small %}
{{ u.name }}
{% endblock %}

{% block content %}

<!-- 	<table class = "table table-striped">
    <tr>
    <td><b>{{ f }}</b></td>
    </tr>

</table> -->
{% if j.img %}
<img src="/media/{{ j.img }}">
{% endif %}
<h1>{{ u.name }}</h1>
<h3>Description&nbsp;
<hr>
<p>{{ u.desc }}</p>
<br><br>
<h3>Schedule</h3>
<hr>
<p>
		Will be released soon.
</p>
<br><br>
<form method="POST">
{% csrf_token %}
{% if reg %}
<input class = "btn btn-danger" name = "unreg" type = "submit" value = "De-register" >
{% else %}
<input class = "btn btn-success" name = "reg" type = "submit" value = "Register" >
{% endif %}
</form>

{% endblock %}