{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>Team</title>
		<meta name="description" content="Our Team" />
		<meta name="keywords" content="quark, team" />
		<meta name="author" content="Quark 2017" />
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<link rel="shortcut icon" href="{% static 'img/quark.png' %}">

<link href='http://fonts.googleapis.com/css?family=Raleway:200,400,800' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,700,900' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/animate.css' %}">


	<title>
		Our Team
	</title>

</head>
<body>

<script src="{% static 'js/wow.min.js' %}"></script>
              <script>
              new WOW().init();
              </script>

              <div  style = "text-align:center">
			<h1 class="wow fadeInUp" data-wow-duration = "2s">OUR <span class = "colorh1">TEAM</span></h1>
			<h3 class = "wow fadeInUp" data-wow-duration = "2s" data-wow-delay = "1s"></h3>
			<div class = "row">
				<div class = "col-md-6">
					<h3 class = "titlehead">Convener</h3>
					<img class="img" alt = "siddhartha" src= "{% static 'img/siddhartha.png' %}"/>
					<br><br>
					Siddhartha Yadav
					<br>
					<i class = "fa fa-phone"></i>&nbsp;
					+91-9552312005
					<br>
					<a href="mailto:siddhartha@bits-quark.org">
					<i class = "fa fa-envelope"></i>&nbsp;
					siddhartha@bits-quark.org</a>
				</div>
				<div class = "col-md-6">
					<h3 class = "titlehead">Chief Coordinator</h3>
					<img class="img" alt = "yash" src= "{% static 'img/yash.jpg' %}"/>
					<br><br>
					Yash Singhal
					<br>
					<i class = "fa fa-phone"></i>&nbsp;
					+91-7722047558
					<br>
					<a href="mailto:singhal@bits-quark.org">
					<i class = "fa fa-envelope"></i>&nbsp;
					singhal@bits-quark.org</a>
				</div>
			</div>
			<br><br><br>
			<div class = "row">
				
			<div class = "col-md-6">
				<div class = "row">
					<h3 class = "titlehead">Head, Publicity and Public Relations</h3>
				<div class = "col-md-6">
					<img class="img" alt = "harshpatel" src= "{% static 'img/harsh.jpg' %}"/>
					<br><br>
					Harsh Patel
					<br>
					<i class = "fa fa-phone"></i>&nbsp;
					+91-7046776276
					<br>
					<a href="mailto:harsh@bits-quark.org">
					<i class = "fa fa-envelope"></i>&nbsp;
					harsh@bits-quark.org</a>
				</div>
				<div class = "col-md-6">
					<img class="img" alt = "manasjha" src= "{% static 'img/manas.jpg' %}"/>
					<br><br>
					Manas Jha
					<br>
					<i class = "fa fa-phone"></i>&nbsp;
					+91-9637888670
					<br>
					<a href="mailto:manas@bits-quark.org">
					<i class = "fa fa-envelope"></i>&nbsp;
					manas@bits-quark.org</a>
				</div>
				</div>
				</div>
			<div class = "col-md-6">
				<div class = "row">
					<h3 class = "titlehead">Head, Sponsorship and Marketing</h3>
				<div class = "col-md-6">
					<img class="img" alt = "kinjalmotwani" src= "{% static 'img/kinjal.jpg' %}"/>
					<br><br>
					Kinjal Motwani
					<br>
					<i class = "fa fa-phone"></i>&nbsp;
					+91-9657791242
					<br>
					<a href="mailto:kinjal@bits-quark.org">
					<i class = "fa fa-envelope"></i>&nbsp;
					kinjal@bits-quark.org</a>
				</div>
				<div class = "col-md-6">
					<img class="img" alt = "saeemandlekar" src= "{% static 'img/amith.jpg' %}"/>
					<br><br>
					Amith Plankhze
					<br>
					<i class = "fa fa-phone"></i>&nbsp;
					+91-7722048336
					<br>
					<a href="mailto:amith@bits-quark.org">
					<i class = "fa fa-envelope"></i>&nbsp;
					amith@bits-quark.org</a>
				</div>
				</div>
				</div>

			</div>
			<br><br><br>
			<div class = "row">
				<div class = "col-md-4">
					<h3 class = "titlehead">Head, Lectures and Exhibits</h3>
					<img class="img" alt = "wahid" src= "{% static 'img/wahid.jpg' %}"/>
					<br><br>
					Wahid Patel
					<br>
					<i class = "fa fa-phone"></i>&nbsp;
					+91-8460640271
					<br>
					<a href="mailto:wahid@bits-quark.org">
					<i class = "fa fa-envelope"></i>&nbsp;
					wahid@bits-quark.org</a>
				</div>
				<div class = "col-md-4">
					<h3 class = "titlehead">Head, Aurora and Research</h3>
					<img class="img" alt = "hari" src= "{% static 'img/hari.jpg' %}"/>
					<br><br>
					Harikrishnan R.
					<br>
					<i class = "fa fa-phone"></i>&nbsp;
					+91-7774054512
					<br>
					<a href="mailto:hari@bits-quark.org">
					<i class = "fa fa-envelope"></i>&nbsp;
					hari@bits-quark.org</a>
				</div>
				<div class = "col-md-4">
					<h3 class = "titlehead">Head, Workshops and CSR</h3>
					<img class="img" alt = "akash" src= "{% static 'img/akash.jpg' %}"/>
					<br><br>
					Akash Deep
					<br>
					<i class = "fa fa-phone"></i>&nbsp;
					+91-7038707486
					<br>
					<a href="mailto:akashdeep@bits-quark.org">
					<i class = "fa fa-envelope"></i>&nbsp;
					akashdeep@bits-quark.org</a>
				</div>
				
				</div>

				<br><br><br>

				<div class="row">
					<h3 class = "titlehead">Head, Media</h3>
				<div class = "col-md-6">
					<img class="img" alt = "ayushi" src= "{% static 'img/apeksha.jpg' %}"/>
					<br><br>
					Apeksha Jain
					<br>
					<i class = "fa fa-phone"></i>&nbsp;
					+91-9158031113
					<br>
					<a href="mailto:apeksha@bits-quark.org">
					<i class = "fa fa-envelope"></i>&nbsp;
					apeksha@bits-quark.org</a>
				</div>
				<div class = "col-md-6">
					<img class="img" alt = "ishitamishra" src= "{% static 'img/sam.jpg' %}"/>
					<br><br>
					Samariddhi
					<br>
					<i class = "fa fa-phone"></i>&nbsp;
					+91-7720982150
					<br>
					<a href="mailto:samariddhi@bits-quark.org">
					<i class = "fa fa-envelope"></i>&nbsp;
					samariddhi@bits-quark.org</a>
				</div>

				</div>
				<br><br><br>

				<div class="row">
				
						<h3 class = "titlehead">Head, Design</h3>
						<div class = "row">
				<div class = "col-md-12">
					<img class="img" alt = "mayank" src= "{% static 'img/mayank.jpg' %}"/>
					<br><br>
					Mayank Anchilia
					<br>
					<i class = "fa fa-phone"></i>&nbsp;
					+91-7387925811
					<br>
					<a href="mailto:mayank@bits-quark.org">
					<i class = "fa fa-envelope"></i>&nbsp;
					mayank@bits-quark.org</a>
				</div>
				</div>
				<br><br><br>
				<!--<div class = "col-md-6">
					<img class="img" alt = "kapilkalra" src= "{% static 'img/kapil.jpg' %}"/>
					<br><br>
					Kapil Kalra
					<br>
					<i class = "fa fa-phone"></i>&nbsp;
					+91-7767012922
					<br>
					<a href="mailto:kapil@bits-quark.org">
					<i class = "fa fa-envelope"></i>&nbsp;
					kapil@bits-quark.org</a>
				</div>
				</div>-->
				
				<div class = "row">
						<h3 class = "titlehead">Web Development</h3>
						<div class = "row">
						
				<!-- <div class = "col-md-4">
					<img class="img" alt = "vikasmishra" src= "{% static 'img/vikas.jpg' %}"/>
					<br><br>
					Vikas Mishra
					<br>
					<i class = "fa fa-phone"></i>&nbsp;
					+91-8412898899
					<br>
					<a href="mailto:vikas@bits-quark.org">
					<i class = "fa fa-envelope"></i>&nbsp;
					vikas@bits-quark.org</a>
				</div> -->
				
				<div class = "col-md-12">
					<img class="img" alt = "sebastinsanty" src= "{% static 'img/osd.png' %}"/>
					<br><br>
					OSDLabs, BITS Goa
					<a href="mailto:mail@osdlabs.org">
					<i class = "fa fa-envelope"></i>&nbsp;
					mail@osdlabs.org</a>
					<br>
					<a href="http://www.osdlabs.org">
					<i class = "fa fa-globe"></i>&nbsp;
					www.osdlabs.org</a>
				</div>
				
				<!-- <div class = "col-md-4">
					<img class="img" alt = "shubhamrathi" src= "{% static 'img/shubham.jpg' %}"/>
					<br><br>
					Shubham Rathi
					<br>
					<i class = "fa fa-phone"></i>&nbsp;
					+91-9545000312
					<br>
					<a href="mailto:f2014555@goa.bits-pilani.ac.in">
					<i class = "fa fa-envelope"></i>&nbsp;
					Mail </a>
				</div> -->

				</div>
				</div>
				</div>
				<br><br>
<hr class = "hrthin">
				<br><br>
			<div style = "float:right; width:40%; text-align:right">
			<i class = "fa fa-copyright"></i>&nbsp;Quark 2017
			</div>
			<div style = "float:left; width:40%">
				<a target="_blank" href="https://www.facebook.com/bitsquark" style="color:rgba(255,255,255,0.6); padding-left:2em;">
				<i class= "fa fa-2x fa-facebook-f"></i>
				</a>
				<a target="_blank" href = "https://www.twitter.com/bitsquark" style="color:rgba(255,255,255,0.6);padding-left:2em;">
				<i class= "fa fa-2x fa-twitter"></i>
				</a>
				<a target="_blank" href = "https://www.youtube.com/channel/UC7Ptc_UtcU1XRAFS-tjq7JA" style="color:rgba(255,255,255,0.6);padding-left:2em;">
				<i class = "fa fa-2x fa-youtube-play"></i>
				</a>
			</div>


<style type="text/css">
	body {
	background-image: url("{% static 'img/background.jpg' %}");
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family: 'Roboto', sans-serif;
	color: #fff;
	font-size: 200;
	padding:4% 10%;
}
h1,.titlehead{
	font-family: 'Raleway', sans-serif;
	font-size: 700;

}


.colorh1{
	color: #555;
}

.hrthin{
	width: 40%;
	 display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
}
a
{
	color:#6bb9f0;
}
a:hover
{
	text-decoration: none;
}
i:hover{
	color: rgba(255,255,255,1);
	transition: color 0.5s;
}
.img{
	border-radius: 50%;
	border:3px solid #ddd;
	width:130px;
	height:130px;
}
</style>

</body>
</html>